

.navbar {
  position: fixed;
  overflow: hidden;
  width: 100%;
  z-index: 1;
  font-family: 'Italiana', serif;
  font-style: 100;
  background-color:rgb(6, 59, 55) ;
  opacity: 40%;
  height: 10vh;
  border-bottom: ridge gold 3.5px;
}




.jumbotron {
  background: url('assets/marbjtron.jpeg')fixed;
  background-size: cover;
  height: fit-content;
  border-bottom: ridge rgb(124, 107, 9) 3.5px;
  
}
.overlay {
  
  background-color:rgb(6, 59, 55) ;
  text-align: center;
  height: fit-content;
  z-index: 2;
  float: right;
  font-family: 'Italiana', serif;
  color: rgb(196, 128, 65);
  
}
.title {
  color: rgb(196, 128, 65);
  font-family: 'Italiana', serif;
  height: fit-content;
  background-color:rgb(6, 59, 55) ;;
  text-align: center;
  float: left;
}
.name {
  color: rgb(99, 117, 111);
}

.becca {
  border: ridge rgb(124, 107, 9) 3.5px;
}

.about {
  
  font-family: 'Italiana', serif;
  padding: 30px;
  color: rgb(0, 20, 19);
  float: right;
  height: fit-content;
  background: url('assets/abtBkg.jpg')fixed;
  background-size: cover;
  position: relative;
  z-index: 2;
 
  

}

.abtbdy {
  background-color: rgb(6, 59, 55);
  color: rgb(99, 117, 111);
  border: ridge rgb(124, 107, 9) 3.5px;
  z-index: 1;
}

.acq {
  color: rgb(99, 117, 111);
}

.acqList {
  float: left;
}

.exEd {
  margin-top: 70vh;
  background: url('assets/marbjtron.jpeg')fixed;
  background-size: cover;
  border: ridge rgb(124, 107, 9) 3.5px;
  position: relative;
  font-family: 'Italiana', serif;
  text-align: center;
 
}

.uniHead {
  padding-top: 10px;
  border-top:ridge rgb(23, 39, 61) 3.5px
}

.proj {
  color: rgb(99, 117, 111)
}

.port {
  border: ridge rgb(124, 107, 9) 3.5px;
  color:rgb(124, 107, 9) ;
  font-family: 'Italiana', serif;
}
.contact {
  color: rgb(6, 51, 36);
  font-weight: 400;
  font-family: 'Italiana',serif;
  background: url('assets/abtBkg.jpg')fixed;
  background-size: cover;
  background-color: rgb(196, 128, 65);

}

.footerFont {
  font-family: 'Italiana', serif;
}

ul {
  list-style: none;
}

li {
  float: left;
}

